{% extends 'base.html' %}

{% block content %}
  <h2>Posts in "{{ category.name }}" Category</h2>
  
  {% if posts %}
    <ul>
      {% for post in posts %}
        <li>
          <a href="{% url 'post_detail' post.pk %}">
            <img src="{{ post.image1.url }}" alt="{{ post.title }}" style="width: 50px; height: auto; margin-right: 10px; vertical-align: middle;"> <!-- Small image -->
            {{ post.title }}
          </a>
          <br>
          <small>by {{ post.author.username }} on {{ post.date_posted|date:"F j, Y" }}</small>
          <p>{{ post.content|truncatewords:30 }}</p> <!-- Show a brief excerpt of the content -->
          <p><strong>Likes:</strong> {{ post.total_likes_with_comments }} </p> <!-- Display total likes including comments -->
          
        
          
          <hr> <!-- Add a horizontal line for separation -->
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts available in this category.</p>
  {% endif %}
  
{% endblock %}
