{% extends 'base.html' %}
{% block content %}
{% load static %}

<form method="get">
    {{ filter.form.as_p }}
    <button type="submit"><span> Search </span></button>
</form>



    <!-- ======= Search Results ======= -->
    <section id="search-result" class="search-result">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h3 class="category-title">Search Results</h3>

            {% for post in filter.qs %}

            <div class="d-md-flex post-entry-2 small-img">
              <a href="{% url 'post_detail' post.pk %}" class="me-4 thumbnail">
                <img src="{% static 'assets/img/post-landscape-6.jpg' %}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{ post.category }}</span> 
                    <span class="mx-1">&bullet;</span>
                     <span>{{ post.date_posted }}</span>
                     <span>Likes: {{ post.likes.count }}</span>
                     <span>Comments: {{ post.comments.count }}</span>
                    </div>
                <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
                <p>{{ post.content }}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">{{ post.author.username }}</h3>
                  </div>
                </div>
                <a href="{% url 'post_detail' post.pk %}">more...</a>
              </div>
            </div>
            {% empty %}
    <p>No results found.</p>
        {% endfor %}

<!-- Paging -->
            <div class="text-start py-4">
              <div class="custom-pagination">
                <a href="#" class="prev">Prevous</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" class="next">Next</a>
              </div>
            </div><!-- End Paging -->

          </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Popular</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Trending</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">Latest</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">

                <!-- Popular -->
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                    {% for post in m_posts %}
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">{{ post.category }}</span> <span class="mx-1">&bullet;</span> 
                        <span>{{ post.date_posted }}</span>
                        <span>{{ post.likes.count }}</span>
                        <span>{{ post.comments.count  }}</span>
                    </div>
                    <h2 class="mb-2"><a href="#">{{ post.title }}</a></h2>
                    <span class="author mb-3 d-block">{{ post.author.username }}</span>
                    <a href="{% url 'post_detail' post.pk %}">Read complete post </a>
                  </div>
                  {% endfor %}
                </div> <!-- End Popular -->

                <!-- Trending -->
                <div class="tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">

                    {% for post in l_posts %}

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">{{ post.category }}</span> <span class="mx-1">&bullet;</span> 
                        <span>{{ post.date_posted}}</span>
                        <span>{{ post.likes.count }}</span>
                        <span>{{ post.comments.count }}</span> 
                    </div>
                    <h2 class="mb-2"><a href="#">{{ post.title }}</a></h2>
                    <span class="author mb-3 d-block">{{ post.author.username }}</span>
                  </div>
                {% endfor %}
                
                 
                </div> <!-- End Trending -->

                <!-- Latest -->
                <div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
                  {% for post in h_posts|slice:"0:10" %}
                    <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">{{ post.category }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.date_posted }}</span></div>
                    <h2 class="mb-2"><a href="#">{{ post.title }}</a></h2>
                    <span class="author mb-3 d-block">{{ post.author.username }}</span>
                    <a href="{% url 'post_detail' post.pk %}">Read complete post </a>
                  </div>
                {% endfor %}
                 
                </div> <!-- End Latest -->

              </div>
            </div>

            <div class="aside-block">
              <h3 class="aside-title">Video</h3>
              <div class="video-post">
                <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                  <span class="bi-play-fill"></span>
                  <img src="assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Video -->

            <div class="aside-block">
              <h3 class="aside-title">Categories</h3>
              <ul class="aside-links list-unstyled">
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Business</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Culture</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Sport</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Food</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Politics</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Startups</a></li>
                <li><a href="category.html"><i class="bi bi-chevron-right"></i> Travel</a></li>
              </ul>
            </div><!-- End Categories -->

            <div class="aside-block">
              <h3 class="aside-title">Tags</h3>
              <ul class="aside-tags list-unstyled">
                <li><a href="category.html">Business</a></li>
                <li><a href="category.html">Culture</a></li>
                <li><a href="category.html">Sport</a></li>
                <li><a href="category.html">Food</a></li>
                <li><a href="category.html">Politics</a></li>
                <li><a href="category.html">Celebrity</a></li>
                <li><a href="category.html">Startups</a></li>
                <li><a href="category.html">Travel</a></li>
              </ul>
            </div><!-- End Tags -->

          </div>

        </div>
      </div>
    </section> <!-- End Search Result -->

 


{% endblock %}